.navWrapper {
  padding: 10px 20px;
  background-color: #d0071e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 4;
}
.leftSide ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.leftSide ul li a {
  padding: 5px 15px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.leftSide ul li a:focus {
  background-color: #fff;
  color: #000;
  opacity: 0.2px;
  border-radius: 20px;
}

.leftSide ul li a::before {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 0;
  left: 50%;
  height: 3px;
  transform: translateX(-50%);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.leftSide ul li a:hover::before {
  width: 100%;
}

.rightSide {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}
.searchBox {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
}
.searchInput {
  border: none;
  outline: none;
}

@media (max-width: 320px) {
  .appContainer {
    overflow-x: hidden;
  }
  .leftSide {
    flex: 1;
  }

  .leftSide ul {
    flex-direction: column;
  }
  .leftSide ul li a {
    padding: 2px 0;
    font-size: 15px;
  }
  .rightSide {
    padding: 0;
  }
  .searchBox {
    margin-left: 0;
    padding: 2px 10px;
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .leftSide {
    margin-top: -25px;
  }
  .searchBox {
    width: 100%;
  }
}
